/* search box */
.search {
  padding: 1rem 0 0 0;
}

.search .search-box {
  display: grid;
  grid-template-columns: 32px 1fr;
  gap: 8px;
  align-items: center;
  background-color: #191B22;
  padding: 8px;
  border-radius: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.search .search-box input {
  width: 100%;
  border: none;
  padding: 5px 15px;
  font: inherit;
  margin-bottom: 0;
  max-width: 99%;
  background-color: transparent;

  &:focus{
    outline: none;
  }
}

.icon.icon-search {
  display: flex;
  justify-self: center;
  filter: invert(36%) sepia(8%) saturate(6967%) hue-rotate(51deg) brightness(93%) contrast(91%);
}


/* search results */
.search ul.search-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  gap: 16px;
  padding-left: 0;
  list-style: none;
}

.search ul.search-results > li {
  border: 1px solid #191B22;
}

.search ul.search-results > li > a {
  display: block;
  background-color: var(--background-color);
  color: currentcolor;
  cursor: pointer;
  height: 100%;
}

.search ul.search-results > li > a:hover,
.search ul.search-results > li > a:focus {
  text-decoration: none;
}

.search ul.search-results > li .search-result-title,
.search ul.search-results > li p {
  padding: 0 16px;
}

.search ul.search-results > li .search-result-title {
  font-size: var(--body-font-size-m);
  font-weight: normal;
}

.search ul.search-results > li .search-result-title a {
  color: currentcolor;
  text-decoration: none;
}

.search ul.search-results > li p {
  font-size: var(--body-font-size-s);
}

.search ul.search-results > li .search-result-image {
  aspect-ratio: 4 / 3;
}

.search ul.search-results > li picture img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* no results */
.search ul.search-results.no-results {
  display: block;
  padding-left: 32px;
}

.search ul.search-results.no-results > li {
  border: none;
}

/* minimal variant */
.search.minimal ul.search-results {
  display: block;
  padding-left: 32px;
}

.search.minimal ul.search-results > li {
  position: relative;
  border: none;
}

.search.minimal ul.search-results > li .search-result-title,
.search.minimal ul.search-results > li p {
  padding: unset;
}

.search.minimal ul.search-results > li .search-result-title a {
  color: #62A814;
}

/* stylelint-disable no-descending-specificity */
.search.minimal ul.search-results > li > a {
  background-color: unset;
}

.search.minimal ul.search-results > li > a:hover a,
.search.minimal ul.search-results > li > a:focus a {
  text-decoration: underline;
  color: #62A814;
}

.search.minimal ul.search-results > li .search-result-image {
  position: absolute;
  top: 2px;
  left: -32px;
}

.search.minimal ul.search-results > li picture img {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}
